@model PagedList.IPagedList<VidlyTest.Models.Movie>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="row">
<div class="col-sm-12">
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class="btn btn-primary btn-md"})
<br />
</div>
</div>
@using (Html.BeginForm())
{
    
        <div class="col-sm-12">
            <br/>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-danger"/>
        </div>
}
<br />
@if (!Model.Any())
{
    <p>We don't have any Movies yet.</p>
}
else
{
    <br />
<table class="table table-bordered table-hover" style="margin-top: 5px;">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Number Available</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Genre.Name</td>
                <td>@movie.NumberAvailable</td>
                <td>
                    <div class="btn btn-default">
                        @Html.ActionLink("Details", "Details", "Movies", new { id = movie.Id }, null)
                    </div>
                    <div class="btn btn-warning">
                        @Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, null)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<br />
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))