@model IEnumerable<VidlyTest.Models.Rental>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>
@Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "btn btn-primary btn-lg" })
<br />
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
@if (!Model.Any())
{
    <p>We don't have any Rentals yet.</p>
}
else
{
    <br />
    <table class="table table-bordered table-hover" style="margin-top: 5px;">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Movie </th>
                <th>Date Rented</th>
                <th>Date Returned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in Model)
            {
                <tr>
                    <td>@rental.Customer.Name</td>
                    <td>@rental.Movie.Name</td>
                    <td>@rental.DateRented</td>
                    <td>@rental.DateReturned</td>
                </tr>
                }
        </tbody>
    </table>
}

