@model PagedList.IPagedList<VidlyTest.Models.Rental>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>
<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Report Info", "Report", "Rentals", null, new { @class = "btn btn-success" })
        <br/>
    </div>
</div>
    @using (Html.BeginForm())
    {
        <div class="col-sm-12">
            <br/>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-danger" />
            <br/>
        </div>


    }
    @if (!Model.Any())
    {
        <p>We don't have any Rentals yet.</p>
    }
    else
    {
        <br />
        <table class="table table-bordered table-hover" style="margin-top: 5px;">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Movie </th>
                    <th>Date Rented</th>
                    <th>Date Returned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rental in Model)
                {
                    <tr>
                        <td>@rental.Customer.Name</td>
                        <td>@rental.Movie.Name</td>
                        <td>@rental.DateRented</td>
                        <td>
                            @if (rental.DateReturned.HasValue)
                            {
                                @rental.DateReturned;
                            }
                            else
                            {
                                <div class="btn btn-warning">
                                    @Html.ActionLink("Mark As Returned", "Return", "Rentals", new { id = rental.Id }, null)
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
